body{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.light-theme{
    /* Set the 'light' theme */
    --primary-color: #007bff;
    --disabled-color: #6c757d;
}

.dark-theme{
  /* Set the 'dark' theme */
  --primary-color: #000000;
  --disabled-color: #4a4a4b;
}